TouristRouteCatalog.Web/obj/Debug/TouristRouteCatalog.Web.csproj.FileListAbsolute.txt
TouristRouteCatalog.Web/obj/Debug/TouristRouteCatalog.Web.csprojResolveAssemblyReference.cache
TouristRouteCatalog.Web/obj/Debug/TouristRouteCatalog.Web.dll
TouristRouteCatalog.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TouristRouteCatalog.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TouristRouteCatalog.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TouristRouteCatalog.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.dll
*.cache
TouristRouteCatalog.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TouristRouteCatalog.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TouristRouteCatalog.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TouristRouteCatalog.Core/bin/Debug/EntityFramework.xml
TouristRouteCatalog.Core/bin/Debug/TouristRouteCatalog.Core.dll.config
TouristRouteCatalog.Core/bin/Debug/TouristRouteCatalog.Core.pdb
TouristRouteCatalog.Core/obj/Debug/TouristRouteCatalog.Core.csproj.FileListAbsolute.txt
TouristRouteCatalog.Core/obj/Debug/TouristRouteCatalog.Core.pdb
TouristRouteCatalog.Core/obj/Debug/edmxResourcesToEmbed/DAL/TouristCatalogRouteModel.csdl
TouristRouteCatalog.Core/obj/Debug/edmxResourcesToEmbed/DAL/TouristCatalogRouteModel.msl
TouristRouteCatalog.Core/obj/Debug/edmxResourcesToEmbed/DAL/TouristCatalogRouteModel.ssdl
TouristRouteCatalog.Database/bin/Debug/TouristRouteCatalog.Database.dacpac
TouristRouteCatalog.Database/bin/Debug/TouristRouteCatalog.Database.pdb
TouristRouteCatalog.Database/bin/Debug/TouristRouteCatalog.Database.sql
TouristRouteCatalog.Database/obj/Debug/Model.xml
TouristRouteCatalog.Database/obj/Debug/TouristRouteCatalog.Database.pdb
TouristRouteCatalog.Database/obj/Debug/TouristRouteCatalog.Database.sqlproj.FileListAbsolute.txt
TouristRouteCatalog.Web/bin/EntityFramework.xml
TouristRouteCatalog.Web/bin/Newtonsoft.Json.xml
TouristRouteCatalog.Web/bin/System.Net.Http.Formatting.xml
TouristRouteCatalog.Web/bin/System.Web.Http.WebHost.xml
TouristRouteCatalog.Web/bin/System.Web.Http.xml
TouristRouteCatalog.Web/bin/System.Web.Mvc.xml
TouristRouteCatalog.Web/bin/System.Web.Razor.xml
TouristRouteCatalog.Web/bin/System.Web.WebPages.Deployment.xml
TouristRouteCatalog.Web/bin/System.Web.WebPages.Razor.xml
TouristRouteCatalog.Web/bin/TouristRouteCatalog.Web.pdb
TouristRouteCatalog.Web/bin/TouristRouteCatalog.Core.pdb
TouristRouteCatalog.Web/obj/Debug/TouristRouteCatalog.Web.pdb
TouristRouteCatalog.Web/bin/System.Web.WebPages.xml