@model List<TouristRouteCatalog.Core.Proxy.Routes.RouteProxy>
@{
    ViewBag.Title = "Index";

}
<h1>Списък с всички маршрути</h1>
<table class="table" id="routesTable">
    <thead>
        <tr>
            <th>Маршрут</th>
            <th>Описание</th>
        </tr>
    </thead>
    @foreach (var r in Model)
    {
        <tr>
            <td>@Html.ActionLink(r.Name, "Details", new { controller = "Route", action = "Details", id = r.Id })</td>
            <td>@r.Description</td>
        </tr>
    }
</table>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('#routesTable').DataTable({
                bLengthChange: false,
                bFilter: false,
                aoColumns: [null, { "bSearchable": false, "bSortable": false }]
            });
        });

    </script>
}
